###############################################################################
# BMS SANATORIO
###############################################################################

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Backups
# -----------------------------
backups/

# -----------------------------
# Mosquitto
# -----------------------------
mosquitto/data/
mosquitto/log/
*.db

# -----------------------------
# Node-RED
# -----------------------------
nodered/node_modules/
nodered/.config.users.json
nodered/.sessions.json

# Credenciales (NO subir nunca)
nodered/flows_cred.json

# Backups automáticos
nodered/*.backup

# -----------------------------
# Docker
# -----------------------------
*.pid

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# Visual Studio Code
# -----------------------------
.vscode/

# -----------------------------
# Linux
# -----------------------------
*~
.Trash-*
.directory

# -----------------------------
# Windows
# -----------------------------
Thumbs.db
Desktop.ini

# -----------------------------
# macOS
# -----------------------------
.DS_Store
